h1{
    text-align: center;
 
   
    
}
#Mobile
{
    display: grid;
    grid-template-columns: repeat(3,auto);
    gap: 20px;
}
.mobile
{
    height:350px;
    width: 350px;
    box-shadow: 5px 5px black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    font-size: 10px; 
    background-color:beige;
    color:black;
    
   
}
.mobile:hover
{
    transform: scale(1.1);
    background-color: aqua;
 
}
