body{
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    
}
.pole
{
    border:1px solid black;
    height:390px;
    width:150px;
    border-radius: 20px;
    background-color: black;
    

}
.light{
     border:1px solid white;
    height: 80px;
    width:80px;
    border-radius: 100px;
    margin:40px
}
.light:nth-child(1):hover{
    background-color: red;
}
.light:nth-child(2):hover{
    background-color: yellow;
}
.light:nth-child(3):hover{
    background-color: green;
}
.stick
{
    height: 150px;    
    margin-top: -33px;
    width: 20px;
    margin-left: 62px;
    background-color: yellow;
}
.podium
{
    border: 1px solid black;
    height: 10px;
    background-color: black;
    padding-bottom: 10px;
    margin-top: -18px;
}
